{% extends 'auth_base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p><strong>Use the form to register as a new user</strong></p>
	    <div class="panel panel-default">
		<div class="panel-body">
			<form method="post" action="{% url 'register' %}" >
			    {% csrf_token %}
			    {% for field in  form %}
			      <p>
			        {{ field.label_tag }}<br>
			        {{ field }}<br>
			        {% if field.help_text %}
			          <small style="color: grey">{{ field.help_text |safe}}</small>
			        {% endif %}
			        {% for error in field.errors %}
			        <div class="alert alert-danger" role="alert">{{ error }}</div>
			          
			        {% endfor %}
			      </p>
			    {% endfor %}
			    <button type="submit" class="btn btn-success btn-block">Register</button>
			</form>
		</div>
		</div>
		</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}