{% extends 'base.html' %}
{% block source %}
Front Page <small>(The Most Recent News Articles)</small>
{% endblock %}

{% block content %}


<div class="row">
	{% for source in sources %}
	<div class="col-md-4">
		<strong><h5>{{source}} - {{source.slug}}</h5></strong>
		{% for article in source.front_page_filtered_Set %}
		<strong>{{ forloop.counter }}.</strong>
		<a href="{{article.article_url}}">{{article.title}}</a><br>
		<p>
		<small><strong>Publication date</strong>: {{article.publication_date}} , <strong>Authors</strong>: {% for author in article.author%}<a href="{% url 'author' source.slug author|slugify %}">{{author|title}}</a>{%if not forloop.last%}, {%endif%}{% empty %}No Author{%endfor%}</small>
		</p>
		{% endfor %}
		<p>
		<a href="{% url 'sources' source.slug %}">Read More {{source.name|title}} Articles ...</a>
		</p>
	</div>
	{% endfor %}
</div>
<hr>
	
{% endblock %}
