{% extends 'base.html' %}
{% load core_filter %}
{% block title %}
Front Page <small>(The Most Recent News Articles)</small>
{% endblock %}

{% block content %}


<div class="row">
	{% for source in sources %}
	<div class="col-md-4">
		<h5><strong>{{source}} - {{source.slug}}</strong></h5>
		{% for article in source.front_page_filtered_Set %}
		<strong>{{ forloop.counter }}.</strong>
		{% if source.slug == 'DN' %}
		<a href="{% url 'get_article' source.slug article.id %}" >{{article.title|title_cap}}</a><br>
		{%else%}
		<a href="{{article.article_url}}" target="_blank">{{article.title|title_cap}}</a><br>
		{%endif%}
		<p>
		<small><strong>Publication date</strong>: {{article.publication_date}} , <strong>Authors</strong>: {% for author in article.author%}<a href="{% url 'author' source.slug author|author_slug %}">{{author|author_capitalize}}</a>{%if not forloop.last%}, {%endif%}{% empty %}No Author{%endfor%}</small>
		</p>
		{% endfor %}
		<p>
		<a href="{% url 'sources' source.slug %}">Read More {{source.name|title}} Articles ...</a>
		</p>
	</div>
	{% if forloop.counter|divisibleby:3 %}
		</div>
		<hr>
	<div class="row">
    {% endif %}
	{% endfor %}
</div>
<hr>
	
{% endblock %}
