{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Habari.ga is a platform that centralises all news content from East Africa. Current news content available is  The Daily Nation, The Business Daily, The Daily Standard, The Star, The Daily Monitor, The Citizen, The East African.">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122316066-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122316066-2');
    </script>
    <title>Habari News |African News|News in Africa|East African News|Daily Nation|Business Daily|Daily Standard|The Star|The East African|The Citizen|The daily Monitor</title>

    {% block styles %}
    {% include 'includes/_styles.html' %} 
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include 'includes/_nav.html' %}
    
    <div class="container">

      {% block content %}
      {% endblock %}
      {% block footer %}
      {% include 'includes/footer.html' %}
      {% endblock %}
    </div>

    {% block scripts %}
    {% include 'includes/_scripts.html' %} 
    {% endblock %}
  </body>
</html>